.Header {
  text-align: center;
}

.App {
  color: white;
  text-align: center;
}

.email {
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

#twitter {
  font-size: 24px;
  float: left;
  text-align: left;
  padding: 10px;
  padding-right: 460px;
  display: inline;
}

#tumblr {
  font-size: 24px;
  float: left;
  padding: 10px;
  padding-right: 480px;
}

#pixiv {
  font-size: 24px;
  padding: 10px;
}

#reddit {
  font-size: 24px;
  padding: 10px;
  display: inline;
}

#insta {
  font-size: 24px;
  display: inline;
  margin-top: 30px;
}

.terms {
  text-align: left;
  padding: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cans {
  font-size: 22px;
  float: left;
}

.cants {
  font-size: 22px;
  float: right;
}

.canlist {
  margin-top: 20px;
  margin-right: 200px;
}

.canlist ul {
  margin-top: 20px;
}

.cantlist {
  margin-top: 20px;
}

.cantlist ul {
  margin-top: 20px;
}

.fixingcans {
  align-self: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  flex-wrap: wrap;
  padding: 15px;
}

.fixingcans2 {
  align-self: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.imgs {
  padding: 20px;
}

.socials {
  align-self: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/* unvisited link */
a:link {
  color: rgb(223, 230, 237);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(223, 230, 237);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

hr {
  width: 1000px;
}

h1,
h2,
h3,
h4,
b,
p {
  color: rgb(223, 230, 237);
}
