.Header {
  text-align: center;
}

.App {
  color: white;
  text-align: center;
}

.email {
  align-items: center;
  margin-top: 20px;
}

#twitter {
  text-align: left;
  float: left;
  padding: 10px;
  margin-top: -20px;
  font-size: 24px;
  padding-left: 350px;
}

#tumblr {
  text-align: left;
  padding: 10px;
  margin-bottom: -20px;
  font-size: 24px;
}

#pixiv {
  text-align: right;
  float: right;
  padding: 10px;
  margin-top: -140px;
  font-size: 24px;
  padding-right: 350px;
}

#reddit {
  text-align: right;
  margin-top: -70px;
  padding: 10px;
  font-size: 24px;
  margin-right: 330px;
  float: right;
}

#insta {
  font-size: 24px;
  padding-bottom: 10px;
}

.terms {
  text-align: left;
  padding: 250px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.cans {
  float: left;
  padding: 250px;
  padding-top: 60px;
}

.cants {
  float: left;
  padding: 250px;
  padding-top: 70px;
}

.canlist {
  padding-top: 60px;
  padding: 250px;
  display: inline;
}

.canlist ul {
  float: right;
  padding: 190px;
  padding-top: 20px;
  padding-right: -40px;
}

.cantlist {
  padding-top: 60px;
  padding: 250px;
  display: inline;
}

.cantlist ul {
  float: right;
  padding: 250px;
  padding-top: 1px;
  padding-bottom: -50px;
}
